@media (max-width:900px) {
.content {
    height: auto;
    min-height: 100vh !important;
}

.logo {
    margin: 2em 3em !important;
}

popup {
    margin: 3em auto;
}

.popup h3, .cabecalho h3 {
    line-height: 1.25;
    font-size: 1.4em !important;
}

.apresentacao h1, .apresentacao h2 {
    font-size: 2em;
    line-height: 1;
    font-weight: bolder;
}

.apresentacao p {
    font-size: 0.75em;
}

.apresentacao h3 {
    line-height: 1.25;
    margin: 5em 0 2em 0;
    text-align: center;
    width: 100%;
    font-size: 0.75em;
}

.personagem li {
    text-align: center;
    font-size: 0.8em;
}
.personagem {
    min-width: 40%;
    text-align: center;
    margin: 0em 3em;
}

.topo {
    margin: 2em 3em 0 3em;
    text-align: center;
}

.sarah-cab, .george-cab, .martha-cab {
display: none;
margin: 0;
}

.copyright {
    font-size: 0.5em;
    margin: 3em 3em;
    line-height: 1.5;
}

.cabecalho {
    margin: 2.5em 0;
}


.personagem img {
    image-rendering: pixelated;
    max-width: 100%;
}

}